body{
	background: #C1D96C;

}
h2{

	color: #032609;
	margin:10px;
	padding-bottom:5px;
	padding-top: 5px;
	padding-left: 0px;
	border-bottom: 3px solid #032609 ;
	width: auto;
	text-align: center;

}

.Miform{

	width: 250px;
	height: 920px;
	background-color:  #518C16;
	border-radius: 8px;
	box-sizing: border-box;
	font-family: 'Roboto',sans-serif;
	box-shadow: 0 0 20px 2px #032609;
	padding: 20px 30px;
	margin: auto;
}

input{
	width: 100%;
	box-sizing: border-box;
	border:0;
	border-bottom: 2px solid #2D5918;
	background: none;
	padding: 10px;
	outline: 0;
	transition-duration: 0.03s;
}

p:before {
	content: attr(type);
	font-size: 15px;
	color:#2D5918; 
}

input:focus{
	border-bottom: 2px solid #45F249;
}

button {
	background: #265902;
	font-family: 'Roboto',sans-serif;
	border: 2px solid #2D5918;
	cursor: pointer;
	float: right;
	padding: 8px 10px;
	transition-duration: 0.03s;
}

button:hover{
	background: #3C9BA6;
	color: #ffff;
}
.tallas{
	color:#2D5918;
}
.Paleta{
	
	
}