*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
@media only screen and (max-width:400px){
    body{
        background-color: chartreuse;
        color: crimson;
    }
}
@media only screen and (min-width:400px)and (max-width:600px){
    body{
        background-color: peru;
        color: saddlebrown;
    }
}
@media only screen and (min-width: 600px) and (max-width: 800px){
    body{
        background-color: rgb(6, 219, 191);
        color: rgb(0, 8, 51);
        font-family: 'roboto', Courier, monospace;
    }

}
@media only screen and (min-width: 800px) and (max-width: 1000px){
    body{
        background-color: rgb(219, 6, 155);
        color: rgb(239, 255, 8);
        font-family: 'monospace', Courier, monospace;
    }

}
@media only screen and (min-width: 1000px) and (max-width: 1920px){
    body{
        background-color: rgb(219, 6, 6);
        color: rgb(231, 231, 231);
        font-family: 'roboto', Courier, monospace;
    }

}
#Usuarios {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 500px;
    background-color: rgba(146, 127, 255, 0.068);
    align-items: center;
    margin: 1px solid red;
   
    padding: 50px;
}
h4{
    font-size: 50px;
    
}
.Usu_Uno{

    display: flex;
    flex-direction: column;   
    margin: 10px;
}
.Nom_Cla{
    
    margin: 0px 0px  10px;
}
.Usu_Envi_Registro {
    display: flex;
    flex-direction: column;   
    align-items: center;
    margin: 0px 0px  10px;
    
}
a{
    font-size: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    color: rgb(4, 0, 221);
    text-decoration: underline;
}
/** FACE **/

.FACE_FELIZ{
    display: flex;
    background-color: crimson;
}